<div style="text-align:center">
  <h1>
    Metro Subterráneo
  </h1>
  <img width="50%" alt="Angular Logo" src="assets/mapa.png">
</div>
<h2>Ingresa la estación de partida: </h2>
<select name="from" id="from" [(ngModel)]="selectedOriginStation" >
  <option *ngFor="let station of stations">{{station.name}}</option>
</select>





<h2>Ingresa la estación de destino:</h2>
<select name="to" id="to" [(ngModel)]="selectedDestinationStation" >
  <option *ngFor="let station of stations">{{station.name}}</option>
</select>
<br>
<br>
<br>
<button (click)="calculateRoutes()" >Calcular Ruta</button>

<div *ngIf="shortestRoutes && shortestRoutes.lenght > 0" >
  <h2>Las mejores rutas son:</h2>
  <div *ngFor="let route of shortestRoutes" >
    {{route.path}}
    <p>El tiempo promedio es de {{route.time}} minutos.</p>
  </div>
</div>